<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607437843290-32q557dmfv07gm9c0i92g97818g5getg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607437843290-32q557dmfv07gm9c0i92g97818g5getg</string>
	<key>API_KEY</key>
	<string>AIzaSyD2VaOcb-BDVCtAUEJVU2ZmS_tboQwoyfs</string>
	<key>GCM_SENDER_ID</key>
	<string>607437843290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chloe-huhu.Firebase-Midterm</string>
	<key>PROJECT_ID</key>
	<string>midterm-firebase-huhu</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-firebase-huhu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607437843290:ios:421715182b39bc92aae163</string>
	<key>DATABASE_URL</key>
	<string>https://midterm-firebase-huhu.firebaseio.com</string>
</dict>
</plist>